/* Resetando margens e paddings padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #8x7x6x;
    color: #998;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
}

/* Estilos do conteúdo principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Container para os flashcards */
#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* Estilos para cada cartão */
.cartao {
    width: 100%;
    max-width: 250px;
    perspective: 1000px; /* Cria o efeito de profundidade para o flip */
}

/* Conteúdo do cartão */
.cartao__conteudo {
    width: 100%;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s; /* Animação suave */
}

/* Efeito de flip ao passar o mouse */
.cartao:hover .cartao__conteudo {
    transform: rotateY(180deg); /* Virar o cartão */
}

/* Frente do cartão */
.cartao__frente, .cartao__verso {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden; /* Oculta a parte de trás durante o flip */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos da frente do cartão */
.cartao__frente {
    background-color: #5x4x3x;
    color: #997;
}

.cartao__frente h3 {
    font-size: 1.2rem;
    text-align: center;
}

/* Estilos do verso do cartão */
.cartao__verso {
    background-color: #x9x8x7;
    color: #996;
    transform: rotateY(180deg); /* Coloca o verso atrás da frente inicialmente */
    padding: 12px;
}

.cartao__verso p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}

/* Rodapé */
footer {
    background-color: #995;
    color: #www;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.8rem;
}

/* Responsividade */
@media (max-width: 600px) {
    .cartao__frente h3,
    .cartao__verso p {
        font-size: 1rem;
    }
}
